@use '../variables/' as *;
.link-box {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 1rem;
    color: rgb(0, 0, 0);
    .link {
        padding: 10%;
        cursor: pointer;
        font-size: 2em;
        &.active {
            text-decoration: underline 2px $greenyellow;
            text-underline-offset: 0.5em;
            transition: 250ms ease;
          }
          &:hover {
            text-decoration: underline 5px $greenyellow;
            text-underline-offset: 0.5em;
            transition: 250ms ease;
          }
    }
}