@use '../variables/' as *;

.container-about {
    background-color: $white;
    height: 30vh;
    max-height: 30vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    .about {
        width: 100%;
        top: 0;
        color: $black;
        .about-title {
            height: 50%;
            display: flex;
            justify-content: center;
        }
        .about-text {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            border-radius: 50px;
            font-size: 1.5em;
            border: 2px solid $black;
            padding: 50px;
        }
}

}
