@use '../variables/' as *;


.container-about {
    height: 20vh;
    max-height: 20vh;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    .about {
        background-color: $white;
        width: 100%;
        top: 0;
        color: $black;
        .about-title {
            height: 50%;
            display: flex;
            justify-content: center;
        }
        .about-text {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            font-size: 1.5em;
        }
}

}
